*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 60px 60px;
    background-image: url('./img/background.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  
}
img{
    height: 100%;
    width: 100%;
}

#1{
    height: 250px;
    width: 400px;
}